*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body
{
    font-family: "Poppins", sans-serif;
}

h1{
    font-size: 2.5rem;
    font-weight: 700;
    color: rgb(35, 35, 85);
}

span
{
    font-size: .9rem;
    color: #757373;
}

h6
{
    font-size: 1.1rem;
    color: rgb(24, 24, 49);
}


/* ------------- navigation ----------- */

nav
{
    position: fixed;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 5vw;
    box-shadow: 2px 2px 10px rgba(0,0,0,0.2);
    z-index: 100;
}

nav img
{
    width: 150px;
    cursor: pointer;
}

nav .navigation
{
    display: flex;
}

.menu-btn
{
    width: 30px;
    height: 30px;
    display: none;
}

#menu-close
{
    display: none;
}

nav .navigation ul
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation ul li
{
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a
{
    text-decoration: none;
    color: rgb(21,21,100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a.active,
nav .navigation ul li a:hover
{
    color: #FDC93B;
}


/* ----------------- Home ------------------- */

.home
{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(/static/images/back.jpg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.home h2
{
    color: white;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

.home p
{
    width: 80%;
    color: white;
    font-size: 0.9rem;
    line-height: 25px;
}

.home .btn
{
    margin-top: 30px;
}

.home a
{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 10px;
    margin-left: 10px;
}

.home .btn .blue
{
    color: white;
    background: rgb(21,21,100);
}

.home a.blue:hover
{
    color: rgb(21,21,100);
    background: white;
    transition: 0.3s ease;
}

.home .btn .yellow
{
    color: white;
    background:#FDC93B;
}

.home a.yellow:hover
{
    color: rgb(21,21,100);
    background: white;
    transition: 0.3s ease;
}


/* -------------------- Features ------------------ */

.features
{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    /* height: 100vh; */
}

.features h1
{
    font-size: 36px;
  font-weight: 600;

}

.features p
{
    color: #777;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  padding: 10px;
}

.row
{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.features-card
{
    flex-basis: 31%;
    margin-bottom: 40px;
    background: #F9F9FF;
    padding: 30px;
    border-radius: 10px;
    text-align: left;
}

.features-card i
{
    font-size: 30px;
    margin-bottom: 10px;
}

.features-card p
{
    padding: 0;
}

@media(max-width: 700px)
{
    .row
    {
        flex-direction: column;
    }
}

/* --------------------- Courses -------------------- */

.courses
{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

.courses .course-box
{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px,1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

.courses .course-card
{
    text-align: start;
    background: #F9F9FF;
    height: 100%;
    position: relative;
    z-index: 1;
}

.courses .course-card img
{
    width: 100%;
    height: 60%;
    background-size: cover;
    background-position: center;
}

.course-card .details
{
    padding: 15px 15px 0 15px;
}

.course-card .details i
{
    color: #FDC93B;
    font-size: .9rem;
}

.courses .course-card .cost
{
    background-color: rgb(74,74,136);
    color: white;
    line-height: 70px;
    width: 70px;
    height: 70px;
    text-align: center;
    border-radius: 50%;
    position: absolute;
    right: 15px;
    top: 50%;
}

/* ------------------ Registration ---------------- */

.registration
{
    margin-top: 50px;
    padding: 6vw 8vw 6vw 8vw;
    background-image: linear-gradient(rgba(99,112,168,0.5), rgba(81,91,233,0.5)),url(/static/images/signup.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.time-box span {
    font-size: 2rem;
    color: white;
}


.registration .time
{
    color: white;
}

.registration .time h1
{
    color: white;

}

.registration .time-box
{
    display: flex;
    margin-top: 40px;
}

.registration .time-box .date
{
   text-align: center;
   padding: 13px 33px;
   background: rgba(255,255,255,0.25);
   backdrop-filter: blur(4px);
   box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37);
   border-radius: 10px;
   margin: 0 5px 10px 5px;
   border: 1px solid rgba(255,255,255,0.18);
   font-size: 1.1rem;
   font-weight: 600;
}

.registration .form
{
    background: white;
    margin-left: 50px;
    border-radius: 10px;
    padding: 40px;
    box-shadow: 0 8px 32px 0 rgba(31,38,135,0.37) ;
}

.registration .form form
{
    display: flex;
    flex-direction: column;

}

.registration .form input
{
    display: flex;
    margin: 15px 0;
    padding: 15px 10px;
    border: 1px solid rgb(84,40,241);
    outline: none;
}

.registration .btn
{
    margin-top: 20px;
}

.registration .btn a.yellow
{
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color: white;
    font-weight: 600;
    border-radius: 10px;
    color: white;
    background:#FDC93B;
}

.registration a.yellow:hover
{
    color: rgb(21,21,100);
    background: white;
    transition: 0.3s ease;
    border: 1px solid #FDC93B;
}


/* ------------------ Community Experts Section ----------------- */

.community
{
    width: 80%;
    margin: auto;
    text-align: center;
    margin-top: 100px;
}

.community .expert
{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    margin-top: 50px;
}

.community-card .icons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.community .community-cards
{
    background: #fafaf1;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.community-cards .icons i
{
    background: transparent;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
}

.community-cards .icons i:hover
{
    background: rgb(21,21,100);
    color: white;
}

.community-details
{
    margin-top: 15px;
    text-align: center;
}


/* ----------------------- Footer ------------------ */
footer
{
    margin-top: 5rem;
    padding: 8vw;
    background: #101c32;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.footer-col
{
    padding-bottom: 40px;
}

footer h3
{
    color: rgb(241,240,245);
    font-weight: 600;
    padding-bottom: 20px;
}

footer li
{
    list-style: none;
    color: #7b838a;
    padding: 10px 0;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s ease;
}

footer li:hover
{
    color: rgb(241,240,245);
}

footer p
{
    color: #7b838a;
}

footer .subscribe
{
    margin-top: 20px;
}

footer input
{
    width: 220px;
    padding: 15px 12px;
    background: #334f6c;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
}

.subscribe a
{
    margin-left: 10px;
}

.subscribe a:hover
{
     color: rgb(21,21,100);
    background: white;
    transition: 0.3s ease;
    border: 1px solid #FDC93B;
}

.hero-btn
{
    text-decoration: none;
    color: #F9F9FF;
    background: #FDC93B;
    padding: 10px;
    border-radius: 10px;
}

footer .copyright
{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;    

}

.copyright .pro-links i
{
    background: #5f7185;
    color: white;
    border: 1px solid black;
    padding: 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 20px;
    transition: 0.3s ease;
    border-radius: 5px;
}

.copyright .pro-links i:hover
{
    background: #FDC93B;
    color: #2c2c2c;
}

.copyright p
{
    color: white;
}

@media(max-width: 769px)
{
    nav
    {
        padding: 15px 50px;
    }

    nav img 
    {
        width: 130px;
    }

    .menu-btn
    {
        display: initial;
        cursor: pointer;
    }

    .navigation #menu-close
    {
        display: initial;
        font-size: 1.6rem;
        color: white;
        padding: 30px 0 20px 20px;
        cursor: pointer;

    }

    nav .navigation ul 
    {
        position: absolute;
        top: 0;
        right: -220px;
        width: 220px;
        background: rgba(17,20,104,0.45);
        backdrop-filter: blur(4.5px);
        border: 1px solid rgba(255,255,255,0.18);
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transition: 0.5s ease;
    }

    nav .navigation ul.active
    {
        right: 0;
    }

    nav .navigation ul li {
        padding: 20px 0 20px 40px;
        margin-left: 0;
        
    }

    nav .navigation ul li a 
    {
        color: white;
        cursor: pointer;
        transition: 0.3s ease;
    }

    nav .navigation ul li a:hover
    {
        color: #FDC93B;
    }

    .home 
    {
        padding-top: 0px;
    }

    .home p
    {
        width: 90%;
    }

    .registration
    {
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    .registration .form
    {
        margin-top: 20px;
    }    

    .registration .time-box{
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 650px)
{

    .registration
    {
        text-align: center;
        justify-content: center;
    }

    .registration h1
    {
        font-size: 40px;
    }


    .registration .form
    {
        margin-left: 0px;
        /* margin-right: 20px; */
    }

    .registration .time-box{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
}

@media(max-width:450px)
{
    .home h2
    {
        font-size: 2rem;
        
    }

.home p
    {        
        font-size: 0.7rem;    
    }
}

@media(max-width:400px)
{
    .subscribe
    {
        display: flex;
        flex-direction: column;
    }  

    .hero-btn
    {
        margin-left: 0px;
        margin-top: 20px;
        width: 100px;
    }
}


/* ------------------------ bout Page --------------------- */
.about-home
{
    background-image: linear-gradient(rgba(9,5,54,0.3), rgba(5,4,46,0.7)), url(/static/images/back1.jpg);
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding-top: 40px;
}

.about-home h2
{
    color: white;
    font-size: 3.2rem;
    letter-spacing: 1px;
}


/* --------------------- about details ------------------ */

.about-details
{
   width: 100%;
   margin: auto;
   margin-top: 50px;
}

.about-content img
{
    margin-left: 20px;
}

.about-row
{
    width: 95%;
    /* background: red; */
    display: flex;
    justify-content: space-between;
}

#b-img
{
    padding: 10px;
}

.about-content
{
    flex-basis: 45%;
    text-align: left;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}

.about-content h4
{
    margin-top: 30px;
    font-size: 24px;
    font-weight: 600;
    padding: 20px 20px;
    text-align: left;
}

.about-content p
{
    padding-left: 20px;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
}

.about-courses
{
    margin-top: 30px;
    display: flex; 
    flex-direction: row;
    align-items: center;
    padding-left: 20px;
}

.about-courses p
{
    padding: 0;
}

.about-courses .fe-text
{
    align-items: center;
}

.about-courses h5
{
    font-size: 15px;
}

.about-content .about-courses img
{
    margin: 0;
    margin-top: 0px;
    margin-right: 10px;
    width: 10%;
}

@media(max-width: 700px)
{
    .about-row
    {
        flex-direction: column;
    }

    .about-content #b-img
    {
        width: 100%;
    }
}

@media(max-width: 1200px)
{
    .about-row
    {
        flex-direction: column;
    }

    .about-content #b-img
    {
        width: 100%;
    }

    .about-content .about-courses img
    {
        width: 5%;
    }

    
}

@media(max-width:400px)
{
    .about-content .about-courses img
    {        
        width: 20%;
    }
}


/* ---------------------------- Trusted By --------------------- */

.trusted
{
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

.trusted .trust-box
{
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-gap: 1rem;
    margin-top: 50px;
}

.trust-box .trust-img img
{
    width: 60%;
}


/* ----------------- Blog Page ---------------- */
.blog-container
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}

.blog-container .blogs
{
    width: 60%;
}

.post
{
    padding-bottom: 50px;
}

.blog-container .blogs .post h3
{
    color: #29303b;
    padding: 15px 0 10px 0;
}

.blog-container .blogs .post p
{
    /* color: #757373; */
    padding-bottom: 20px;
}

.blog-container .blogs img
{
    width: 100%;
    border-radius: 10px;
}

.blog-container .category
{
    width: 30%;
}

.blogs .post a
{
    text-decoration: none;
    color: white;
    background: rgb(21,21,100);
    padding: 13px 35px;
    border-radius: 10px;
    font-size: 0.9rem;
    
}

.blogs .post a:hover
{
    color: rgb(21,21,100);
    background: white;
    transition: 0.3s ease;
    border: 1.5px solid rgb(21,21,100);
}

.blogs .category
{
    padding-bottom: 20px;
}

.category a
{
    text-decoration: none;
    color: #757373;
    font-weight: 500;
    line-height: 45px;
}

.blog-post
{
   width: 60%;
   margin: 0 auto;
}

.blog-post p
{
    text-align: justify;
}

@media(max-width:900px)
{
    .blog-container .blog-post
    {
        width: 100%;
        padding-top:30px;
    }
}

@media(max-width:700px)
{
    .blog-container
    {
        padding: 8vw 4vw;
    }
    .category h2
    {
        font-size: 20px;
    }
    .category a
    {
        font-size: 0.7rem;
    }

    .blog-container .blog-post
    {
        width: 100%;
        padding-top: 30px;
    }
}

@media(max-width:475px)
{
    .blog-container
    {
        flex-direction: column;
    }

    .blog-container .blogs
    {
        width: 100%;
    }

    .blog-container .category
    {
        width: 100%;
    }

    .blog-container .blog-post
    {
        padding: 30px;
    }
}

/* ---------------- Courses Page --------------- */
.courses .course-box .course-pointer
{
    cursor: pointer;
}

.course-inner
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}

.course-inner .overview
{
    width: 70%;
}

/* .course-inner .overview img
{
    width: 100%;
} */

.course-inner .overview .course-img
{
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-radius: 12px;
    margin-bottom: 20px;
}

.course-inner .overview .course-head
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.course-inner .overview .course-head .c-name
{
    width: 70%;
}

.course-inner .overview .course-head .c-name h2
{
    color: #29303b;
}

.course-inner .overview .course-head .c-name .star
{
    margin: 6px 0;
}

.course-inner .overview .course-head .c-name .star i
{
    color: #FDC93B;
}

.course-inner .overview .course-head .c-name p
{
    font-size: 15px;
}

.course-inner .overview .course-head span
{
    background-color: rgba(88, 56, 252, 0.1);
    color: #5838fc;
    padding: 16px 22px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 10px;

}


.course-inner .learn p
{
    font-size: 15px;
    padding-bottom: 15px;
}

.course-inner .learn p i
{
    color: #654ce4;
    font-weight: 700;
    margin-right: 20px;
}

.course-inner .tutor
{
    display: flex;
    margin-bottom: 30px;
}

.course-inner .tutor img
{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-right: 20px;
}

.tutor .tutor-details h5
{
    font-size: 15px;
}

.course-inner h3
{
    padding: 35px 0 25px 0;
    color: #29303b;
}

.course-inner p
{
    color: #64626e;
}

.course-inner hr
{
    height: 1px;
    background: rgba(236,226,229,0.5);
    margin-top: 20px;
}

.enroll
{
    margin-left: 50px;
    width: 300px;
    padding: 0 30px 30px 30px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);

}

.enroll .learn .enroll-btn
{
    margin: auto;
    text-align: center;
    margin-top: 30px;
}

.enroll .learn .enroll-btn a
{
    
    text-decoration: none;
    color: white;
    background: rgb(21,21,100);
    padding: 13px 35px;
    border-radius: 10px;
    font-size: 0.9rem;
}

.enroll .learn .enroll-btn a:hover
{
    color: rgb(21,21,100);
    background: white;
    transition: 0.3s ease;
    border: 1.5px solid rgb(21,21,100);
}


@media(max-width:700px)
{
    .course-inner 
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8vw 4vw;
    }
    .course-inner .overview
    {
        width: 100%;
    }

    .course-inner .overview .course-img
    {
        width: 100%;
        height: 100%;
    }

    .course-inner .enroll
    {
        margin: auto;
        margin-top: 20px;
        width: 90%;
    }

    .about-home h2
    {
        font-size: 25px;
    }
}

/* -------------- ContactUs Page --------------- */

.contactus
{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 8vw;
}

.info
{
    width: 45%;
    padding: 30px 50px 30px 50px;
    border-radius: 11px;
    box-shadow: 0px 20px 40px 0 rgb(11 2 55 / 8%);
}

.form
{
    width: 50%;
}

.info .items .item-content
{
    display: flex;
    align-items: flex-start;
}

.info h3
{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.info p
{
    
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;
}

.info hr
{
    margin-top: 20px;
    margin-bottom: 20px;
}

.items h5
{
    margin-top: 30px;
    font-size: 17px;
    margin-bottom: 10px;
}

.item-content i
{
    margin-right: 20px;
}

.items .items-icons i
{
    border: 1px solid black; 
    padding: 10px;
    font-size: 23px;
    cursor: pointer;   
}

.items .items-icons i:hover
{
     background: rgb(21,21,100);
    color: white;
}

.contactus .form h3
{
    font-size: 24px;
    font-weight: 700;
    padding-bottom: 10px;
}

.contactus .form p
{
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 10px;
}

.form
{
    padding: 3vw;
    background-color: #f7f6fb;
    border-radius: 10px;
}

.form .text1
{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}


.form .text1 input
{
    width: 48%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 10px;
}

.form .text2 input, .form .text2 textarea
{
    margin-bottom: 10px;
    width: 100%;
    padding: 15px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-family:  "Poppins", sans-serif;
    resize: none;

}

.sub-btn
{
    text-decoration: none;
    color: white;
    background: rgb(21,21,100);
    padding: 13px 35px;
    border-radius: 10px;
    font-size: 0.9rem;
    border: none;
    cursor: pointer;
    margin-top: 20px;
}

.sub-btn:hover
{
    color: rgb(21,21,100);
    background: white;
    transition: 0.3s ease;
    border: 1.5px solid rgb(21,21,100);
}

.location
{
     width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe
{
    width: 100%;
}

@media(max-width: 900px)
{
    .contactus
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 8vw 4vw;
    }
    .info
    {
        width: 100%;       
    }

    .form
    {
        margin-top: 30px;
        width: 100%;
    }
}

@media(max-width:350px)
{
    .info
    {
        padding: 20px;
    }   
}