<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
        href="https://fonts.googleapis.com/css2?family=Oswald&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="https://kit.fontawesome.com/a141da9c1d.js" crossorigin="anonymous"></script>
    <script>
         var targetDate = "{{ CountDownTime|date:'Y-m-d H:i:s' }}";
    </script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <title>LMS Website - {{page_title}}</title>
</head>
<body>

    <!-- Navigation Bar -->
    <nav>
        <img src="/static/images/logo.svg">

        <div class="navigation">
            <ul>
                <i id="menu-close" class="fas fa-times"></i>
                <li><a class="{% if active_page == 'home' %} active {% endif %}" href="{% url 'home' %}">Home</a></li>
                <li><a class="{% if active_page == 'about' %} active {% endif %}" href="{% url 'about' %}">About</a></li>
                <li><a class="{% if active_page == 'blog' %} active {% endif %}" href="{% url 'blog' %}">Blog</a></li>
                <li><a class="{% if active_page == 'course' %} active {% endif %}" href="{% url 'course' %}">Courses</a></li>
                <li><a class="{% if active_page == 'contactus' %} active {% endif %}" href="{% url 'contactus' %}">Contact</a></li>
            </ul>

            <img class="menu-btn" src="/static/images/menu.png">
        </div>
    </nav>